<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <!-- <meta name="robots" content="NOINDEX,FOLLOW"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyComic</title>
</head>
<body>
    <pre><%= JSON.stringify(items,null,4) %></pre>
</body>
</html>